/*FONT*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/*COLORS*/
body {
  background-color: #ff7a7a;
  color: #fff;
}

.errorMessage {
  color: #ff7a7a;
  font: normal normal 400 14px/20px Poppins;
  text-align: center;
  display: none;
}

button {
  transition: 0.2s all ease-in-out;
}

button:hover {
  opacity: 0.9;
}

@media (min-width: 768px) {
  body {
    background: url("/images/bg-intro-desktop.png") #ff7a7a center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*  TEXT  */
  #text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }

  #text-content .col-md-12 {
    width: 100%;
  }
  #text-content .text h1 {
    font: normal normal 700 35px/35px Poppins;
    width: 70%;
  }
  #text-content .text p {
    font: normal normal 400 16px/35px Poppins;
    width: 100%;
  }
  #text-content .text p, #text-content .text h1 {
    text-align: left !important;
  }
  #text-content .row {
    justify-content: center;
  }

  /* FIM TEXT  */
  /* FORMULARIO  */
  #formulario .button-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #formulario .button-area button {
    background: #6055a5;
    padding: 1rem;
    box-shadow: 0 7px 1px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
    border: none;
    border-radius: 10px;
    color: #fff;
  }
  #formulario .form-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 1px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-top: 1rem;
  }
  #formulario .row {
    justify-content: left;
  }
  #formulario .aux {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    padding-bottom: 0.5rem;
  }
  #formulario form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #formulario .form-box form input {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #3e3c49;
    border-radius: 5px;
  }
  #formulario .form-box button {
    background: #38cc8c;
    padding: 0.7rem;
    box-shadow: 0 7px 1px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
    border: none;
    border-radius: 10px;
    color: #fff;
  }
  #formulario .form-box p {
    padding-top: 1rem;
    color: #b9b6d3;
  }
  #formulario .form-box a {
    color: #ff7a7a;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
  }
  #formulario .form-box a:hover {
    color: #ff1f1f;
    border-bottom: 1px dashed #ff1f1f;
  }
  #formulario .form-box span {
    width: 100%;
    text-align: left !important;
  }

  /* FIM FORMULARIO  */
}
/*MOBILE*/
@media (max-width: 767px) {
  body {
    background: url("/images/bg-intro-mobile.png") #ff7a7a center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  /*  TEXT  */
  #text-content {
    display: flex;
    justify-content: center;
    align-self: center;
    color: #fff;
    padding-top: 1rem;
  }

  #text-content .text h1 {
    font: normal normal 700 30px/35px Poppins;
  }
  #text-content .text p {
    font: normal normal 400 15px/25px Poppins;
  }

  /* FIM TEXT */
  /* FORMULARIO */
  #formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
  }

  #formulario .button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  #formulario .button-area button {
    font: normal normal 600 24px/20px Poppins;
    color: #fff;
    background: #6055a5;
    padding: 1rem;
    box-shadow: 0 7px 2px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
    border: none;
    border-radius: 10px;
  }
  #formulario .button-area button span {
    font: normal normal 400 15px/20px Poppins;
  }
  #formulario .form-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 1px 1px rgba(0, 0, 0, 0.3);
  }
  #formulario .aux {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    padding-bottom: 0.5rem;
  }
  #formulario .form-box form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  #formulario .form-box form input {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #3e3c49;
    border-radius: 5px;
  }
  #formulario .form-box button {
    background: #38cc8c;
    padding: 1rem;
    box-shadow: 0 7px 0 1px rgba(0, 0, 0, 0.3);
    width: 95%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.3);
    font: normal normal 600 18px/20px Poppins;
    color: #fff;
  }
  #formulario .form-box p {
    padding-top: 1rem;
    font: normal normal 400 16px/20px Poppins;
    color: #b9b6d3;
  }
  #formulario .form-box p a {
    color: #ff7a7a;
    text-decoration: none;
  }

  /* FIM FORMULARIO */
}/*# sourceMappingURL=style.css.map */